<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="UsersDAL" service="ITOrm.Host.DAL.IUsersDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.UsersDAL,ITOrm.Host.DAL" />
    <component id="ChannelDAL" service="ITOrm.Host.DAL.IChannelDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.ChannelDAL,ITOrm.Host.DAL" />
    <component id="SendMsgDAL" service="ITOrm.Host.DAL.ISendMsgDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.SendMsgDAL,ITOrm.Host.DAL" />
    <component id="AccountDAL" service="ITOrm.Host.DAL.IAccountDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.AccountDAL,ITOrm.Host.DAL" />
    <component id="UserEventRecordDAL" service="ITOrm.Host.DAL.IUserEventRecordDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.UserEventRecordDAL,ITOrm.Host.DAL" />
    <component id="UserBankCardDAL" service="ITOrm.Host.DAL.IUserBankCardDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.UserBankCardDAL,ITOrm.Host.DAL" />
    <component id="UserImageDAL" service="ITOrm.Host.DAL.IUserImageDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.UserImageDAL,ITOrm.Host.DAL" />
    <component id="UserImageDAL" service="ITOrm.Host.DAL.IUserImageDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.UserImageDAL,ITOrm.Host.DAL" />
    <component id="YeepayLogDAL" service="ITOrm.Host.DAL.IYeepayLogDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.YeepayLogDAL,ITOrm.Host.DAL" />
    <component id="YeepayLogParasDAL" service="ITOrm.Host.DAL.IYeepayLogParasDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.YeepayLogParasDAL,ITOrm.Host.DAL" />
    <component id="YeepayUserDAL" service="ITOrm.Host.DAL.IYeepayUserDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.YeepayUserDAL,ITOrm.Host.DAL" />
    <component id="AreaCodeDAL" service="ITOrm.Host.DAL.IAreaCodeDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.AreaCodeDAL,ITOrm.Host.DAL" />
    <component id="PayRecordDAL" service="ITOrm.Host.DAL.IPayRecordDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.PayRecordDAL,ITOrm.Host.DAL" />
    <component id="WithDrawDAL" service="ITOrm.Host.DAL.IWithDrawDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.WithDrawDAL,ITOrm.Host.DAL" />
    <component id="BankQuotaDAL" service="ITOrm.Host.DAL.IBankQuotaDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.BankQuotaDAL,ITOrm.Host.DAL" />
    <component id="MasgetUserDAL" service="ITOrm.Host.DAL.IMasgetUserDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.MasgetUserDAL,ITOrm.Host.DAL" />
    <component id="BankDAL" service="ITOrm.Host.DAL.IBankDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.BankDAL,ITOrm.Host.DAL" />
    <component id="BankTreatyApplyDAL" service="ITOrm.Host.DAL.IBankTreatyApplyDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.BankTreatyApplyDAL,ITOrm.Host.DAL" />
    <component id="PayCashierDAL" service="ITOrm.Host.DAL.IPayCashierDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.PayCashierDAL,ITOrm.Host.DAL" />
    <component id="KeyValueDAL" service="ITOrm.Host.DAL.IKeyValueDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.KeyValueDAL,ITOrm.Host.DAL" />
    <component id="AdminUserDAL" service="ITOrm.Host.DAL.IAdminUserDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.AdminUserDAL,ITOrm.Host.DAL" />
    <component id="ViewBankQuotaDAL" service="ITOrm.Host.DAL.IViewBankQuotaDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.ViewBankQuotaDAL,ITOrm.Host.DAL" />
    <component id="ViewPayRecordDAL" service="ITOrm.Host.DAL.IViewPayRecordDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.ViewPayRecordDAL,ITOrm.Host.DAL" />
    <component id="TimedTaskDAL" service="ITOrm.Host.DAL.ITimedTaskDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.TimedTaskDAL,ITOrm.Host.DAL" />
    <component id="AccountQueueDAL" service="ITOrm.Host.DAL.IAccountQueueDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.AccountQueueDAL,ITOrm.Host.DAL" />
    <!--<component id="ViewModulesDAL" service="ITOrm.Host.DAL.IViewModulesDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.ViewModulesDAL,ITOrm.Host.DAL" />
    <component id="ModulesDAL" service="ITOrm.Host.DAL.IModulesDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.ModulesDAL,ITOrm.Host.DAL" />
    <component id="ChannelDAL" service="ITOrm.Host.DAL.IChannelDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.ChannelDAL,ITOrm.Host.DAL" />
    <component id="CityDAL" service="ITOrm.Host.DAL.ICityDAL,ITOrm.Host.DAL" type="ITOrm.Host.DAL.CityDAL,ITOrm.Host.DAL" />-->
  </components>
</configuration>