<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="ITOrmConfig">
      <section name="logging" type="ITOrm.Core.Logging.ConfigHandler,ITOrm.Core" />
    </sectionGroup>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler,ITOrm.Core.Utility" />
  </configSections>
  <connectionStrings>
    <add name="ITOrmdb" connectionString="Data Source=122.14.218.15,55531;Initial Catalog=SujinDB;User ID=sa;Password=sujin@ITORM.COM" providerName="System.Data.SqlClient" />
    <add name="LCT" connectionString="Data Source=192.168.1.222;Initial Catalog=LCT;User ID=sa;Password=1q2w#E4r" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--免身份验证方法组   debug/version -->
    <add key="AccessLogin" value="debug/version,debug/tb,debug/yb,debug/tool,pay/cashier,pay/tengcashier,pay/TengSendMsgCode,pay/success" />

    <!--设置环境 debug  release -->
    <add key="IsDebug" value="debug" />
    <!--静态站 -->
    <add key="StaticHost" value="http://static.sujintech.com/" />

    <!--是否免签名 -->
    <add key="IsSign" value="true" />
    
    
    <!--当前域名地址 -->
    <add key="CurrentApiHost" value="http://api.itorm.com/" />
    <!--当前域名地址 -->
    <add key="CurrentApiDic" value="D:\\cx\\ITOrm\\ITOrm.Service\\ITOrm.Api\\" />

    <!--白名单权限IP -->
    <add key="WhitelistIP" value="" />
    <!--黑名单权限IP -->
    <add key="BlacklistIP" value="" />
    <!--访问模式 While Black -->
    <add key="VisitMode" value="Black" />

    <!--同步异步总开关（是否开启 true false）-->
    <add key="AysnOpen" value="true" />
    <!--区别当前应用同步还是异步  （true为同步  false为异步）-->
    <add key="AysnSetting" value="false" />

    <!--易宝提交地址-->
    <add key="YeepayDomain" value="https://skb.yeepay.com/skb-app/" />
    <!--易宝测试代理商商编-->
    <!--
    <add key="YeepayMainCustomerNumber" value="10000420859" />
    -->
    <!--易宝测试代理商秘钥-->
    <!--
    <add key="YeepayHmacKey" value="8GG6V170r5mo767tMg55oZ2F28NsUB3V5i44v48bfmIkDaz6xj8mPb8BY6P6" />-->
    <!--易宝生产代理商商编-->
    <!---->
    <add key="YeepayMainCustomerNumber" value="10018708270" />
    <!--易宝生产代理商秘钥-->
    <!---->
    <add key="YeepayHmacKey" value="q2tdepkmx3c2r5gwqipn5ypq2c44spg2i9fao385rjqd7e7fvu23m0njuhrt" />
    <!--易宝回调地址-->
    <add key="YeepayNoticeUrl" value="http://testnotice.sujintest.com/notice/" />

    <!--荣邦科技提交地址-->
    <add key="MasgetDomain" value="https://gw.masget.com:27373/openapi/rest " />
    <!--荣邦科技回调地址-->
    <add key="MasgetNoticeUrl" value="http://testnotice.sujintech.com/notice/" />
    
    
    <!--米刷回调地址-->
    <add key="MishuaNoticeUrl" value="http://testnotice.sujintech.com/notice/" />
     <!--腾付通回调地址-->
    <add key="TengNoticeUrl" value="http://testnotice.sujintech.com/notice/" />


    <!--接口用户名-->
    <add key="itorm.api.itormName" value="itormweb" />
    <!--接口密码-->
    <add key="itorm.api.webpass" value="63b32bb51395a00f21da92de051533be" />
    <!--接口干扰吗-->
    <add key="itorm.api.strMd5Key" value="e266ce4187ae4178f12c6185406012bd" />



    <!--盛世云商短信通道 anhe-->
    <!--
    <add key="ensmsUrl" value="http://sms.ensms.com:8080/sendsms/" />
    <add key="ensmsname" value="bjanh" />
    <add key="ensmspwd" value="anhetz" />-->

    <!--盛世云商短信通道 速金-->
    <add key="ensmsUrl" value="http://sms.ensms.com:8080/sendsms/" />
    <add key="ensmsname" value="bjsujin" />
    <add key="ensmspwd" value="sj20180126" />




    <!--
      配置缓存有效期格式“数字+days|hours|minutes|seconds|milliseconds”
    -->
    <add key="AccountPopedom.Duration" value="1|days" />
    <add key="Account.Duration" value="11" />
    <add key="Order.Duration" value="11" />
    <add key="TicketFilm.Duration" value="11" />
    <add key="TicketVenue.Duration" value="11" />
    <add key="wpApi.Duration" value="0|0|30" />
    <add key="AirTicket.Duration" value="10" />
    <!--
    多台缓存服务器间用","隔开
    -->
    <add key="Memcached.ServerList" value="122.14.218.15:11211" />
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!--<authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />-->
    <customErrors mode="Off">
      <error statusCode="404" redirect="/error/" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5.1" />
    <authorization>
      <allow users="?" />
    </authorization>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <!--调试Memcached的时候老是匹配不上，下面这个配置重要-->
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1B03E6ACF1164F73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <castle>
    <include uri="file://Castle.config" />
  </castle>
  <ITOrmConfig>
    <logging>
      <formatters>
        <formatter name="default" type="DefaultFormatter" format="{DateTime:yyyy-MM-dd HH:mm:ss} {Message}" />
      </formatters>
      <targets>
        <target name="flatFile" type="FileTarget" formatter="default">
          <logLevelInFilename>true</logLevelInFilename>
        </target>
      </targets>
      <loggers>
        <logger name="ITOrm.Core" namespace="ITOrm.Core.*" targets="flatFile" minLevel="Trace" />
        <logger name="ITOrm.Utility" namespace="ITOrm.Utility.*" targets="flatFile" minLevel="Trace" />
        <logger name="ITOrm.Host.Models" namespace="ITOrm.Host.Models.*" targets="flatFile" minLevel="Trace" />
        <logger name="ITOrm.Host.DAL" namespace="ITOrm.Host.DAL.*" targets="flatFile" minLevel="Trace" />
        <logger name="ITOrm.Host.BLL" namespace="ITOrm.Host.BLL.*" targets="flatFile" minLevel="Trace" />
        <logger name="ITOrm.Api" namespace="ITOrm.Api.*" targets="flatFile" minLevel="Trace" />
      </loggers>
    </logging>
  </ITOrmConfig>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>