@model  respMasgetModel<respPaymentjournalGetModel>
@{
    ViewBag.Title = "查询交易订单";
}

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">请求流水号</label>
        <input type="text" class="form-control" name="requestId" value="@TQuery.GetString("requestId")" placeholder="请求流水号">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">用户类型</label>
        @{
            List<SelectListItem> list = new List<SelectListItem>();
            list.Add(new SelectListItem() { Value = "1", Text = "积分通道" });
            list.Add(new SelectListItem() { Value = "2", Text = "无积分通道" });
            list.Add(new SelectListItem() { Value = "4", Text = "荣邦3" });
        }
        @Html.MyDrop(list, "", "", TQuery.GetSafeString("ChannelType"), new { @name = "ChannelType", @class = "form-control" })

    </div>
    <button type="submit" class="btn btn-default">提交</button>
</form>
<div class="alert alert-block alert-info fade in">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <h4 class="alert-heading">查询消息:</h4>
    <p>@(Model.message)</p>

</div>


@if (Model.backState == 0)
{
    <div class="alert alert-block alert-info fade in">
        <button data-dismiss="alert" class="close" type="button">×</button>
        <h4 class="alert-heading">查询信息：</h4>
        <p>公司id:@(Model.data.companyid)</p>
        <p>公司名称:@(Model.data.companyname)</p>
        <p>子商户id:@(Model.data.subcompanyid)</p>
        <p>子商户名称:@(Model.data.subcompanyname)</p>
        <p>商户订单号:@(Model.data.ordernumber)</p>
        <p>交易类型:@(Model.data.businesstype)</p>
        <p>支付方式id:@(Model.data.paymenttypeid)</p>
        <p>支付方式:@(Model.data.paymenttypename)</p>
        <p>订单描述:@(Model.data.body)</p>
        <p>交易金额:@(Model.data.amount)</p>
        <p>退款金额:@(Model.data.refundamount)</p>
        <p>交易流水号:@(Model.data.payorderid)</p>
        <p>交易时间:@(Model.data.businesstime)</p>
        <p>通道订单号:@(Model.data.channelordernumber)</p>
        <p>通道流水号:@(Model.data.channelpayorderid)</p>
        <p>交易状态:@(Model.data.respcode)</p>
        <p>状态说明:@(Model.data.respmsg)</p>

    </div>
}



<div class="alert alert-block alert-error fade in">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <h4 class="alert-heading">返回报文</h4>
    <p>@(JsonConvert.SerializeObject(Model))</p>

</div>
