@model  respMasgetModel<respSubcompanyGetModel>
@{
    ViewBag.Title = "子商户信息查询接口";
}

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">用户ID</label>
        <input type="text" class="form-control" name="UserId" value="@TQuery.GetSafeString("UserId")" placeholder="用户ID">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">用户类型</label>
        @{
            List<SelectListItem> list = new List<SelectListItem>();
            list.Add(new SelectListItem() { Value = "1", Text = "积分通道" });
            list.Add(new SelectListItem() { Value = "2", Text = "无积分通道" });
            list.Add(new SelectListItem() { Value = "4", Text = "荣邦3" });
        }
        @Html.MyDrop(list, "", "", TQuery.GetSafeString("ChannelType"), new { @name = "ChannelType", @class = "form-control" })

    </div>
    <button type="submit" class="btn btn-default">提交</button>
</form>
<div class="alert alert-block alert-info fade in">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <h4 class="alert-heading">查询消息:</h4>
    <p>@(Model.message)</p>

</div>


@if (Model.backState == 0)
{
    <div class="alert alert-block alert-info fade in">
        <button data-dismiss="alert" class="close" type="button">×</button>
        <h4 class="alert-heading">查询信息：</h4>
        <p>子商户id:@(Model.data.companyid)</p>
        <p>子商户名称:@(Model.data.companyname)</p>
        <p>商户编码:@(Model.data.companycode)</p>
        <p>账户名:@(Model.data.accountname)</p>
        <p>卡号:@(Model.data.bankaccount)</p>
        <p>开户支行名称:@(Model.data.bank)</p>
        <p>联行号:@(Model.data.bankcode)</p>
        <p>银行卡类型:@(Model.data.bankcardtype)</p>
        <p>手机号:@(Model.data.mobilephone)</p>
        <p>身份证号:@(Model.data.idcardno)</p>
        <p>请求地址:@(Model.data.openapiurl)</p>
        <p>appid:@(Model.data.appid)</p>
        <p>会话:@(Model.data.session)</p>
        <p>动态密钥:@(Model.data.secretkey)</p>
    </div>
}



<div class="alert alert-block alert-error fade in">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <h4 class="alert-heading">返回报文</h4>
    <p>@(JsonConvert.SerializeObject(Model))</p>

</div>
