<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="ITOrmConfig">
      <section name="logging" type="ITOrm.Core.Logging.ConfigHandler,ITOrm.Core" />
    </sectionGroup>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler,ITOrm.Core.Utility" />
  </configSections>
  <connectionStrings>
    <add name="ITOrmdb" connectionString="Data Source=122.14.218.15,55531;Initial Catalog=SujinDB;User ID=sa;Password=sujin@ITORM.COM" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--配置执行完一批数据后的时间间隔-->
    <add key="BatchWaitMilliSecond" value="5000" />
    <!--程序异常终止时发送短信的手机号码 -->
    <add key="mobile" value="15110167786" />
    <!--每条数据处理后等待的时间 -->
    <add key="theadTime" value="100" />
    <!--
    多台缓存服务器间用","隔开
    -->
    <add key="Memcached.ServerList" value="127.0.0.1:11211" />
    <!--易宝提交地址-->
    <add key="YeepayDomain" value="https://skb.yeepay.com/skb-app/" />
    <!--易宝测试代理商秘钥-->
    <!--
    <add key="YeepayHmacKey" value="8GG6V170r5mo767tMg55oZ2F28NsUB3V5i44v48bfmIkDaz6xj8mPb8BY6P6" />-->
    <!--易宝生产代理商商编-->
    <!---->
    <add key="YeepayMainCustomerNumber" value="10018708270" />
    <!--易宝生产代理商秘钥-->
    <!---->
    <add key="YeepayHmacKey" value="q2tdepkmx3c2r5gwqipn5ypq2c44spg2i9fao385rjqd7e7fvu23m0njuhrt" />
    <!--异步通知地址-->
    <add key="YeepayNoticeUrl" value="http://testnotice.sujintech.com/notice/" />

    <!--荣邦科技提交地址-->
    <add key="MasgetDomain" value="https://gw.masget.com:27373/openapi/rest " />
    <!--荣邦科技回调地址-->
    <add key="MasgetNoticeUrl" value="http://testnotice.sujintech.com/notice/" />
    
    
    <!--盛世云商短信通道 anhe-->
    <!--
    <add key="ensmsUrl" value="http://sms.ensms.com:8080/sendsms/" />
    <add key="ensmsname" value="bjanh" />
    <add key="ensmspwd" value="anhetz" />-->
    <!--盛世云商短信通道 速金-->
    <add key="ensmsUrl" value="http://sms.ensms.com:8080/sendsms/" />
    <add key="ensmsname" value="bjsujin" />
    <add key="ensmspwd" value="sj20180126" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--调试Memcached的时候老是匹配不上，下面这个配置重要-->
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1B03E6ACF1164F73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <castle>
    <include uri="file://Castle.config" />
  </castle>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>