
@{
    Layout = null;

}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>注册成功</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <link href="/Themes/css/base.css" rel="stylesheet" />
    <link href="/Themes/css/suMoney.css" rel="stylesheet" />
    <script src="/Themes/js/jquery.js"></script>
    <style>
        html, body {
            background: url(/Themes/img/suMoney-banner.jpg) no-repeat;
            background-size: 100% 105%;
        }
    </style>
</head>
<body>
    <div class="suMoney-reg-wrap">
        <img src="/Themes/img/suMoney-logo.png" class="suMoney-logo">
        <div class="suMoney-registerSuccess-box">
            <div class="suMoney-registerSuccess-prompt">
                注册成功
            </div>
            <div class="suMoney-registerSuccess-font">
                恭喜您注册成功
                <p>请扫二维码下载速金派APP</p>
            </div>
            <img src="/Themes/img/eqcode.jpg" class="eqCode">
            <p class="small-prompt">提示：扫描二维码或在微信内长按识别二维码下载客户端</p>
        </div>
        <div class="suMoney-copyRight">
            版权所有©2018<br>北京苏津科技有限公司
        </div>
    </div>
    <!----占行--->
    <div style="width:100%;height:.2rem;"></div>

</body>
</html>