@model ResultModelData<Users>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: 59.151.25.126:6330 shouyin.yeepay.com 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *">

    <title>注册</title>
    <style>
        .pme-popup .pme-bind-card {
            height: auto;
        }

        .pme-bind-card .error-info {
            padding-right: 5px;
            font-size: 12px;
            color: #9f9f9f;
        }

        .pme-bind-card .bank-data.disabled {
            background-color: #cec8c8;
            opacity: .3;
        }

        .gray {
            background-color: gray;
        }
        .btn-disabled {
            color: #999999;
            cursor: default;
            border-color: #f0f0f0;
        }


        
    </style>
    
    <link href="/Themes/css/bootstrap.css" rel="stylesheet" />
    <link href="/Themes/css/mobile-pay.css" rel="stylesheet" />
    <script src="/Themes/js/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/Themes/js/guid.js"></script>
</head>
<body cz-shortcut-listen="true">

    <i class="iconfont pme-go-back" onclick="javascript:window.history.back();"></i><header class="pme-order-info" id="mod-orderInfo">
        <p class="amount" style="margin-top:0px; font-size:30px;">邀请注册</p>
        <label for="mod-detailsSwitch"></label>
    </header>
    <div class="pme-order-details-wrapper" id="mod-orderDetails">
        <input class="details-switch" id="mod-detailsSwitch" type="checkbox">

        <div class="order-details" style="">
            <div class="details-info">
                <div style="color:#9e9e9e;">　邀请人</div>
                <div>@(Model.Data.IsRealState==1? Model.Data.RealName: "--")</div>
            </div>
            <div class="details-info">
                <div style="color:#9e9e9e;">　邀请码</div>
                <div>@(Model.Data.Mobile)</div>
            </div>
        </div>
        <span class="details-switch-trigger"></span>
    </div>
    <div id="J-bindedCard">

        <div class="mt10">
            <form id="J-cardInfo" class="pme-form"  onsubmit="return submitValidate()" method="post">
                <figure class="input-box">
                    <label>
                        <mark>手机号</mark>
                        <input maxlength="11" name="mobile" id="mobile"  placeholder="预留手机号" style="color:#333;" value=""   type="tel">     
                    
                    </label>
                </figure>
                <figure class="input-box">
                    <label>
                        <mark>验证码</mark>
                        <input maxlength="4" placeholder="图形验证码" name="vcode" id="vcode"  style="color:#333;" value=""  type="tel">
                        <img src="" id="imgCode"/>
                    </label>
                </figure>
                <figure class="input-box">
                    <label>
                        <mark>验证码</mark>
                        <input maxlength="6"  id="J_verifycode" placeholder="短信验证码" name="mcode" type="tel">
                        <i class="clear iconfont"></i>
                        <button onclick="getCode(this)" type="button" style="" name="mcode"   id="J_getCode" class="pme-btn pme-btn-sm ">获取验证码</button>
                    </label>
                </figure>
                <figure class="input-box">
                    <label>
                        <mark>密　码</mark>
                        <input maxlength="16"  placeholder="密　码" name="pwd" id="pwd" style="color:#333;" value="" type="password">
                    </label>
                </figure>

                <div class="pme-wrapper">
                    @*gray*@
                    <button type="submit"  class="J-payBtn   ">注册</button>
                </div>
                <input type="hidden" name="baseUserId" id="baseUserId" value="@Model.Data.UserId" />
                <input type="hidden" name="guid" id="guid" value="" />
                <input type="hidden" name="regGuid" id="regGuid" value="" />
            </form>
        </div>
    </div>

    <!-- Small modal -->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="myModal" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
               <span style="float:right;" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</span>
                    <h2 class="modal-title" id="myModalTitle" style="text-align:center;" >提示</h2>
                </div>
                <div class="modal-body">
                    <div class="alert " id="alertDiv" style="text-align:center;" role="alert">
                        <strong style="font-size:1.3em" id="myModalMessage">支付成功</strong>
                    </div>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                    <button type="button" data-dismiss="modal" style="background-color:#f3f4f4;color:#333; " class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<script type="text/javascript">

    $(function () {
        $("#imgCode").click(function () {
            var uuid = new GUID();
            var guid = uuid.newGUID()
            $("#guid").val(guid);
            var newSrc = "/itapi/Invite/GetImgCode?guid=" + guid;
            $(this).attr("src", newSrc);
        });
        $("#imgCode").click();
        $('#myModal').on('show.bs.modal', centerModals);
        //禁用空白处点击关闭
        $('#myModal').modal({
            backdrop: 'static',
            keyboard: false,//禁止键盘
            show: false
        });
    })
    function centerModals() {
        $('#myModal').each(function (i) {
            var $clone = $(this).clone().css('display', 'block').appendTo('body');
            var top = Math.round(($clone.height() - $clone.find('.modal-content').height()) / 2);
            top = top > 0 ? top : 0;
            $clone.remove();
            $(this).find('.modal-content').css("margin-top", top);
        });
    };
    function MyModal(error, str) {

        $("#alertDiv").addClass(error);
        $("#myModalMessage").html(str);
        $('#myModal').on('show.bs.modal', centerModals);
        $('#myModal').modal({
            backdrop: 'static',
            keyboard: false,//禁止键盘
            show: true
        });
    }


    function submitValidate()
    {
        var mobile = $("#mobile").val()
        var code = $("#J_verifycode").val();
        var vcode = $("#vcode").val();
        var pwd = $("#pwd").val();



        if (code == "")
        {
            return false;
        }



        if ($(".J-payBtn").hasClass("gray")) {
            return false;
        }
    
        if (mobile.length != 11)
        {
            MyModal("alert-danger", '手机号长度不足11位字符');
            return false;
        }
        if (/[^\d]/.test(mobile)) {
            MyModal("alert-danger", '手机号码必须为数字');
            return false;
        }
        if (vcode.length != 4)
        {
            MyModal("alert-danger", '图形验证码是4位字符');
            return false;
        }
        if(/[^\d]/.test(code))
        {
            MyModal("alert-danger", '手机验证码必须为数字');
            return false;
        }
        var regGuid = $("#regGuid").val();
        if (regGuid == "")
        {
            MyModal("alert-danger", '请先获取短信');
            return false;
        }

        if (pwd.length < 6 || pwd.length > 16)
        {
          
            MyModal("alert-danger", '密码为6-16位字符');
            return false;
        }
        timeop();
        return true;
    }

    function timeop()
    {
        $(".J-payBtn").html("提交中..." ).addClass("gray");
        var k = 3;
        setInterval(function () {
            var dian = "";
            for (var i = 0; i < k; i++) {
                dian += ".";
            }
            $(".J-payBtn").html("提交中" + dian);
            k--;
            if (k < 1) {
                k = 3;
            }
        }, 500)
    }

    var setIntervalId;
    var num = 60;
    var flag = false;
    function getCode(obj)
    {
        var mobile = $("#mobile").val();
        var vcode = $("#vcode").val();
        var guid = $("#guid").val();
        if ($(".J-payBtn").hasClass("gray")) {
            return false;
        }
        if (mobile.length != 11) {
            MyModal("alert-danger", '手机号长度不足11位字符');
            return false;
        }
        if (/[^\d]/.test(mobile)) {
            MyModal("alert-danger", '手机号码必须为数字');
            return false;
        }

        if (vcode.length != 4) {
            MyModal("alert-danger", '图形验证码是4位字符');
            return false;
        }
        if (flag)
        {
            return;
        }

        $.post("/itapi/Invite/SendMsgCode", { mobile: mobile, vcode: vcode, guid: guid }, function (data) {
            if (data.backState == 0) {
                $(obj).css("color", "#999999");
                $(obj).css("cursor", "default");
                $(obj).css("border-color", "#f0f0f0");
                setIntervalId = setInterval(otime, 1000);
                flag = true;
                $("#regGuid").val(data.Data.regGuid)
            }
            else {//发送失败
                MyModal("alert-danger", data.message);
            }
        }, "json");
    }


    function otime()
    {

        $("#J_getCode").html(num + "秒后重发");
        if (num == 0)
        {
            $("#J_getCode").html("获取验证码");
            $("#J_getCode").removeAttr("style");
            clearInterval(setIntervalId);
            num = 60;
            flag = false;
        }
        num--;
    }


</script>

@if (Model.backState == -100)
{
    <script type="text/javascript">
        MyModal("alert-danger", '@Model.message');
    </script>
}
