
@{
    ViewBag.Title = "Index";
}

<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<style type="text/css">
    .content {
        height: 900px;
    }

    div {
        margin-left: 30px;
    }
</style>
<script type="text/javascript" src="http://static.anxin.com/js/jquery-1.7.1.js"></script>
<script type="text/javascript">

        $(function () {
            $(".nav-tabs li").click(function () {
                var link = $(this).find("a").attr("data-link");
                $("#myFrame").attr("src",  link );
                //var index = $(".nav-tabs li").index($(this));
                $(".nav-tabs li").removeClass("active");
                $(this).addClass("active");
                //$(".content").hide();
                //$(".content").eq(index).show();

            })
        })
</script>


<div class="bs-docs-example">

    <ul class="breadcrumb">
        <li><a href="#">系统配置</a> <span class="divider">/</span></li>
        <li><a href="#">权限管理</a> <span class="divider">/</span></li>
        <li class="active">通道接口查询</li>
    </ul>
    <form id="form1" style="width:100%;margin:auto;">

        <div>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="javascript:;" data-link="/yeepay/">易宝接口</a></li>
                <li role="presentation"><a href="javascript:;" data-link="/masget/">荣邦科技</a></li>
                <li role="presentation"><a href="javascript:;" data-link="/teng/">腾付通</a></li>
                <li role="presentation"><a href="javascript:;" data-link="/mishua/">米刷</a></li>
            </ul>
        </div>

        <div class="content" style="display:block;">
            <iframe id="myFrame" marginheight="0" marginwidth="0" scrolling="auto" src="/yeepay/" frameborder="0" height="100%" width="100%"></iframe>
        </div>
    </form>
</div>